<aside>
    <ul>
      <li><a href="/step/1">Étape 1</a></li>
      <li><a href="/step/2">Étape 2</a></li>
      <li><a href="/step/3">Étape 3</a></li>
      <li><a href="/step/4">Étape 4</a></li>
      <li><a href="/step/5">Étape 5</a></li>
      <li><a href="/step/6">Étape 6</a></li>
      <li><a href="/step/7">Étape 7</a></li>
      <li><a href="/step/8">Étape 8</a></li>
      <li><a href="/step/9">Étape 9</a></li>
    </ul>
  </aside>
  
  