<%- include('partials/header') %>
  <div class="container-fluid pb-0">
  <div class="main-contents">
    <h1>Bienvenue sur le Formulaire Multi-Étapes</h1>
    <p>Ce formulaire est conçu pour collecter des informations relatives à une personne à travers plusieurs étapes. Chaque étape contient des champs spécifiques pour assurer une collecte d'informations complète et détaillée.</p>
    
    <h2>Commencez le formulaire</h2>
    <ul>
      <li><a href="/step/1">Étape 1 : Identification</a></li>
      <li><a href="/step/2">Étape 2 : Expérience du passé</a></li>
      <li><a href="/step/3">Étape 3 : Caractéristiques physiques</a></li>
      <li><a href="/step/4">Étape 4 : Déclaration des biens</a></li>
      <li><a href="/step/5">Étape 5 : Lieux préférés</a></li>
      <li><a href="/step/6">Étape 6 : Lieux des opérations</a></li>
      <li><a href="/step/7">Étape 7 : Médias</a></li>
      <li><a href="/step/8">Étape 8 : Image de profil</a></li>
      <li><a href="/step/9">Étape 9 : Crimes</a></li>
    </ul>

    <h2>Voir les informations enregistrées</h2>
    <p>Vous pouvez consulter les informations des personnes déjà enregistrées en cliquant sur le lien ci-dessous :</p>
    <a href="/persons" class="button">Voir les personnes</a>
  </div>
</div>

  <!-- <!DOCTYPE html>
  <html>
  <head>
    <title>Accueil - Formulaire Multi-Étapes</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

</body>
</html>-->
